<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          
    package="com.example.diyujia.selectroom"
    >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:label="北大软微在线选宿舍"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--用户信息的页面 -->
        <activity android:name=".UserInformation"/>

        <!--查询空床位的页面 -->
        <activity android:name=".QueryBed"/>
    </application>

</manifest>
